.component_status {
    border: 1px solid #eee;
    padding: 0.5em;
    margin: 1em;
    border-collapse: collapse;
    width: 25%
}

.component_status th {
    font-size: xx-large;
    padding: 1em;
}

.component_status tr:nth-child(odd) {
    background: #eee;
}

.component_status td {
    padding: 0.5em;
}

.func_unit {
    border: 1px solid #eee;
    padding: 0.5em;
    margin: 1em;
    border-collapse: collapse;
}

.func_unit th {
    font-size: xx-large;
    padding: 1em;
}

.func_unit tr:nth-child(odd) {
    background: #eee;
}

.func_unit td {
    padding: 0.5em;
}
